body {
	padding-right: 25%;
	padding-left: 25%;
	/*background-color: #333333;
	color: #BBBBBB;*/
}

nav.primary ul,
nav.primary ul li {
	margin: 0px;
}

div.mainheader h1 {
	font-weight: bold;
	float: left;
	margin: 1em;
}

div.maincontent p {
	position: relative;
	clear: left;
	padding: 2em;
	font-size: 1.5em;
}

div.footer {
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	text-align: center;
	clear: both;
	font-size: 1.5em;
}

nav.primary {
	float: left;
	background: #AAAAAA;
	width: 100%;
	max-width: 100%;
	font-size: 2em;
}

nav.primary li {
	cursor: pointer;
}

nav.primary li:hover {
	color: #FFFFFF;
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding: 0 14px;
}

#langlist {
	float: right;
	margin-right: 1em;
}